ul {
    display: flex;
    list-style: none;
    padding:10px;
    margin:0;
    position:absolute;
    top: 200px;
    left: 0px;
    width: 97vw;
    background-color: #8eb29f ;
    
}

li a {
   text-decoration: none;
   color: black;
   padding: 5px 10px;
   border-radius: 10px;
   background-color: rgb(219, 225, 220);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}


li {
    display: inline-block;
    margin-right: 10px;
}

li:last-child {
   margin-right: 0;
}

li a.active {
    background-color: #4CAF50;
    color: white;
   
}

li a:hover:not(.active) {
    background-color: rgb(280, 275, 275);
    color: rgb(8, 8, 8);
    text-align: center;
}

.pageheader{
    background-color: #828784;
    height: 200px;
    width: 100%;
}
#headerlogga{
    margin-left: 400px;
    margin-top: 15px;
}

.knapp{
    border-radius: 10px;
    font-size:large;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: ghostwhite;
    border: 2px solid #000;
    text-decoration: none;
    padding: 5px;
   
}
.knapp:hover{
    background-color: rgb(101, 101, 125);
}

#easter{
    width: 97vw;
    border-radius: 10px;
    margin-top: 100px;
}
#kopnu{
    position: absolute; /* Positionerar knappen relativt till förälderelementet */
    top: 650px; /* Placerar knappen vertikalt i mitten */
    left: 550px;
    font-size: 30px;
}


h2{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.startpicture{
    position: absolute;
    height: 200px;
    width: 99%;
    
}

p{
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}


.sections{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-top: 100px;
}

.sections img{
    border-radius: 10px;
}
.separator{
    width: 100px;
}

footer {
    display: flex; /* Skapar en flex-container */
    flex-direction: row; /* Placerar elementen bredvid varandra i en rad */
    justify-content: space-around; /* Jämnt fördelat utrymme mellan elementen */
    align-items: center; /* Centrerar elementen vertikalt */
    background-color: #8eb29f; /* Bakgrundsfärg på footern */
    color:#000; /* Textfärg på footern */
    padding: 20px; /* Inre utfyllnad för footern */
}

.contact {
    flex: 1; /* Gör att varje kontakt-div tar upp lika mycket utrymme */
    text-align: center; /* Centrerar texten i varje kontakt-div */
    margin: 0 10px; /* Ger lite marginal mellan varje kontakt-div */
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}
.footerlogga{
    border-radius: 10px;
}

.cta-button{
   border-radius: 10px;
   font-size:large;
   background-color: ghostwhite;
   border: 2px solid #000;
   position: absolute;
}
.cta-button:hover{
    background-color: rgb(101, 101, 125);
}